*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --dark-green: #019689;
    --light-green: #d7f9bc;
    --dark-gray: #989798;
    --gray: #ebe9eb;
    --blue:#8edafd;
    --light:#ffff;
    --dark: black;
}

/* //////////////////////////////////////////////////////////// */

/* BODY */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-fluid-top {
    min-width: 100%;
    background-color: #019689;
    padding: 100px;
}

.container-fluid-bottom {
    min-width: 100%;
    flex-grow: 1;
    background-color: var(--dark-gray);
    
}

/* APP */

#app {
    position: absolute;
    padding-top: 600px;
    left: 50%;
    top: 20px;
    z-index: 1;
    transform: translate(-50%, -50%);
}

/* HEADER PAGE */
.debug .header-page {
    flex-shrink: 0;
    min-width: 220px;
    border: 1px solid black;
    background-color: green;
}

.debug .my-profile {
    padding: 25px;
    background-color: var(--gray);

}

.debug .notifications {
    padding: 25px;
    background-color: var(--blue);
}

.debug .contacts {
    padding: 25px;
    flex-grow: 1;
    background-color: var(--light);
}


/* MAIN PAGE */
.debug .main-page {
    height: 500px;
    flex-grow: 1;
    border: 1px solid black;
    background-color: red;
}

.debug .chat-header {
    padding: 25px;
    background-color: var(--gray);
}

.debug .chat-body {
    flex-grow: 1;
    background-color: var(--light);
}

.debug .chat-footer {
    padding: 25px;
    background-color: var(--gray);
}


/* debug */
.debug .app-container {
    min-width: 900px;
    height: 600px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* height: 100%; */
}

.height-100 {
    height: 100%;
}

.flex-column {
    flex-direction: column;
}



