*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* VAR */
:root {

    --dark-green: #019689;
    --light-green: #d7f9bc;
    --dark-gray: #989798;
    --gray: #ebe9eb;
    --blue:#8edafd;
    --light:#ffff;
    --dark: black;
}


/* UTILITY CLASS */
.row {
    display: flex;
    flex-wrap: wrap;
}

.height-100 {
    height: 100%;
}

.flex-column {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
    
}

.justify-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

/* IMAGE AND ICON */
img {
    max-width: 40px;  
    border-radius: 999px;
    object-fit: cover;
}

.icon {
    color: var(--dark-gray);
    font-size: 15px;
}
/* //////////////////////////////////////////////////////////// */
/* BODY */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-fluid-top {
    min-width: 100%;
    background-color: #019689;
    padding: 100px;
}

.container-fluid-bottom {
    min-width: 100%;
    flex-grow: 1;
    background-color: var(--dark-gray);
}

/* APP */
#app {
    position: absolute;
    padding-top: 600px;
    left: 50%;
    top: 20px;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.app-container {
    min-width: 1200px;
    height: 600px;
    margin: 0 auto;
}

/* HEADER PAGE */
.header-page {
    flex-shrink: 0;
    min-width: 300px;  
}

/* my profile */
.my-profile {
    padding: 5px;
    background-color: var(--gray);
    border-right: 1px solid var(--dark-gray);
}

.row-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.name-my-profile {
    margin-left: 15px;
    font-weight: 900;
}

.row-figure-profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row-icon {
    display: flex;
    gap: 10px;
}

/* notifications */
.notifications {
    padding: 12px 0px;
    background-color: var(--blue);
}

.row-notifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.p-title-notif {
    font-size: 12px;
    font-weight: 600 ;
}

.p-small-notif {
    font-size: 10px;
}

.icon-notif {
    background-color: white;
    border-radius: 999px;
    padding: 8px;
    font-size: 15px;
    color: var(--blue);
}



.search-bar {
    padding: 15px;
    background-color: var(--gray);
}

.contacts {
    padding: 25px;
    flex-grow: 1;
    background-color: var(--light);
}


/* MAIN PAGE */
.main-page {
    height: 500px;
    flex-grow: 1;
}

.chat-header {
    padding: 25px;
    background-color: var(--gray);
}

.chat-body {
    flex-grow: 1;
    background-color: var(--light);
    background-image: url(../img/mine.jpg);
}

.chat-footer {
    padding: 25px;
    background-color: var(--gray);
}


/* debug */






