*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* VAR */
:root {

    --dark-green: #019689;
    --light-green: #d7f9bc;
    --dark-gray: #989798;
    --gray: #ebe9eb;
    --blue:#8edafd;
    --light:#ffff;
    --dark: black;

}


/* UTILITY CLASS */
.row {
    display: flex;
    flex-wrap: wrap;
}

.height-100 {
    height: 100%;
}

.flex-column {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
    
}

.justify-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

/* PADDING */
.p-left {
    padding-left: 10px;
}

.p-right {
    padding-right: 10px;
}

/* LI */
.border-top {
    border-top: 1px solid var(--dark-gray);
}

/* COLOR */
.bg-dark-gray {
    background-color: var(--dark-gray);
}

/* IMAGE AND ICON */
img {
    max-width: 40px;  
    border-radius: 999px;
    object-fit: cover;
}

.icon {
    color: var(--dark-gray);
    font-size: 15px;
}

/* DISPLAY NONE */
.d-none {
    display: none;
}

/* DISPLAY BLOCK */
.d-block {
    display: block;
}

/* //////////////////////////////////////////////////////////// */
/* BODY */

body {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.container-fluid-top {
    max-width: 100%;
    background-color: #019689;
    padding: 100px;
}

.container-fluid-bottom {
    max-width: 100%;
    flex-grow: 1;
    background-color: lightgray;
}

/* APP */
#app {
    position: absolute;
    left: 40px;
    right: 40px;
    top: 20px;
    bottom: 20px;
    z-index: 1;
    /* overflow: hidden; */
    
}

.app-container {
    max-width: 900px;
    height: 600px;
    margin: 0 auto;
    /* overflow: hidden; */
}

/* HEADER PAGE */
.header-page {
    flex-shrink: 0;
    height: 100%;
    /* overflow: hidden;   */
}

/* my profile */
.my-profile {
    padding: 5px;
    background-color: var(--gray);
    border-right: 1px solid var(--dark-gray);
}

.row-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.name-my-profile {
    margin-left: 15px;
    font-weight: 900;
}

.row-figure-profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row-icon {
    display: flex;
    gap: 20px;
}

/* notifications */
.notifications {
    padding: 12px 10px;
    background-color: var(--blue);
}

.row-notifications {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    align-items: center;

}
.p-title-notif {
    font-size: 12px;
    font-weight: 600 ;
}

.p-small-notif {
    font-size: 10px;
    color: var(--dark-gray);
    text-decoration: underline;
}

.icon-notif {
    background-color: white;
    border-radius: 999px;
    padding: 8px;
    font-size: 15px;
    color: var(--blue);
}

/* search bar */
.search-bar {
    padding: 5px;
    background-color: var(--gray);
}

.row-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.btn-search {
    padding: 0px 15px;
    font-size: 15px;
    background-color: var(--light);
    border: none;
    border-radius: 5px;
}

.input-bar {
    flex-grow: 1;
    line-height: 22px;
    border: none;
    border-radius: 5px;
    
}

/* contacts */
.contacts {
    flex-grow: 1;
    background-color: var(--light);
    /* overflow: hidden; */
}


.contacts-wraps {
    overflow: auto;
}

.row-contacts {
    display: flex;
    flex-wrap: wrap;
}

.figure-contacts {
    flex-grow: 1;
    padding: 5px 10px;
}

.row-figure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.message-contacts {
    font-size: 10px;
    color: var(--dark-gray);
}

.hours {
    padding: 2px ;
    font-size: 10px;
    font-weight: 700;
    color: var(--dark-gray);
}

li:hover {
    background-color: var(--gray);
}

.active {
    background-color: var(--gray);
}


/* MAIN PAGE */
.main-page {
    flex-grow: 1;
    /* overflow: hidden; */
}

/* chat header */
.chat-header {
    padding: 5px;
    background-color: var(--gray);
}

.figure-contacts {
    flex-grow: 1;
    padding: 5px;
}

/* chat body */
.chat-body {
    flex-grow: 1;
    background-color: var(--light);
    background-image: url(../img/mine.jpg);
    /* overflow: auto; */
}

/* message send */
.container-send {
    max-width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    
}


.message-send {
    background-color: var(--light-green);
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
}


.message-send:hover .box-menu {
    display: inline-block;
}



/* message received */
.ctn-received {
    display: flex;
    justify-content: flex-start;
    
}

.mesg-received {
    background-color: var(--light);
}

.chat-input {
    flex-grow: 1;
    line-height: 30px;
    border: none;
    border-radius: 10px;
}

.menu-item {
    background-color: var(--light);
    padding: 5px;
    position: absolute;
    top: 30px;  
}

.p-info {
    font-size: 12px;
    line-height: 20px;

}

/* chat footer */
.chat-footer {
    padding: 5px 10px;
    background-color: var(--gray);
}

.row-chat-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.icon-footer {
    font-size: 20px;
    color: var(--dark-gray);

}



/* debug */






