<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <script src="https://kit.fontawesome.com/8258ac6aa5.js" crossorigin="anonymous"></script>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <link rel="stylesheet" href="./css/app.css">
</head>
<body>
    <div class="container-fluid-top"></div>
    <div class="container-fluid-bottom">
        <div id="app">
            <div class="app-container">
                <div class="row height-100">
                    <!-- HEADER -->
                    <header class="header-page">
                        <div class="row flex-column height-100">
                            <!-- my profile -->
                            <div class="my-profile">
                                <div class="row-profile">
                                    <figure >
                                        <div class="row-figure-profile">
                                            <img src="./img/avatar_5.jpg" alt="">
                                            <h3 class="name-my-profile">Federico</h3>
                                        </div>
                                    </figure>
                                    <div class="icon row-icon">
                                        <i class="fa-solid fa-circle-notch"></i>
                                        <i class="fa-solid fa-message"></i>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                </div> 
                            </div>
                            <!-- notifications -->
                            <div class="notifications">
                                <div class="row-notifications">
                                    <span class="icon-notif"><i class="fa-solid fa-bell-slash"></i></span>
                                    <div>
                                        <p class="p-title-notif">Ricevi notifiche di nuovi messaggi</p>
                                        <p class="p-small-notif">attiiva notifiche</p>
                                    </div>
                                </div>   
                            </div>
                            <!-- search-bar -->
                            <div class="search-bar ">
                                <div class="row-search">
                                    <button class="btn-search icon"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    <input class="input-bar" v-model="nameSearch" @keyup="searchName" type="text" placeholder="cerca e inizia una nuova chat">
                                </div>
                            </div>
                            <!-- contacts -->
                            <div class="contacts">
                                <ul class="contacts-wraps">
                                    <li v-for="(contact, index) in contacts" 
                                        @click="thisContact(index)"
                                        :class="currentContact === index ? 'active' : '' "
                                        :key="index">
                                        <div class="row-contacts border-top" v-if="contact.visible === true">
                                            <figure class="figure-contacts">
                                                <div class="row-figure">
                                                    <img :src="contact.avatar" alt="">
                                                    <div>
                                                        <h4 class="name-contacts">{{contact.name}}</h4>
                                                        <p class="message-contacts">Ultimo messaggio inviato</p>
                                                    </div> 
                                                </div>   
                                            </figure>
                                            <span class="hours">12:00</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>  
                    </header>
                    <!-- MAIN -->
                    <main class="main-page">
                        <div class="row flex-column height-100">
                            <!-- chat header -->
                            <div class="chat-header">
                                <div class="row-profile">
                                    <figure class="figure-user">
                                        <div class="row-figure" >
                                            <img :src="contacts[currentContact].avatar" alt="">
                                            <div>
                                                <h4 class="name-contacts">{{contacts[currentContact].name}}</h4>
                                                <p class="message-contacts">{{contacts[currentContact].messages[currentMessage].date}}</p>
                                            </div> 
                                        </div>   
                                    </figure>
                                    <div class="icon row-icon">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        <i class="fa-solid fa-paperclip"></i>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                                </div> 
                            </div>
                            <!-- chat body -->
                            <div class="chat-body" >
                                <div class="container-send" 
                                    v-for="(item, index) in contacts[currentContact].messages" 
                                    :class="item.status === 'received' ? 'ctn-received' : '' "
                                    @mouseleave.stop="this.show = false">

                                    <p class="message-send "
                                        
                                        :class="item.status === 'received' ? 'mesg-received' : '' ">
                                        {{item.message}}
                                        <span class="d-none box-menu" 
                                                @click.stop="showMenuItem(index)">
                                            <i class="fa-solid fa-chevron-down">
                                            </i>
                                        </span>
                                        <div class="menu-item " 
                                            v-show="show && index === this.currentMessage"
                                            @mouseleave.stop="this.show = false">
                                            <p class="p-info">Messaggio info</p>
                                            <p class="p-info delete" 
                                                @click.stop="deleteMessage(index)">
                                                Cancella messaggio
                                            </p>
                                        </div>
                                    </p>
                                </div>

                                <!-- <div class="container-send ctn-received" >
                                    <p class="message-send mesg-received ">{{item.message}}</p>
                                </div> -->
                            </div>
                            <!-- chat footer -->
                            <div class="chat-footer">
                                <div class="row-chat-footer">
                                    <div class="emoji icon-footer p-left"><i class="fa-regular fa-face-smile"></i></div>
                                <input class="chat-input" type="text" v-model="msgEntrance" @keyup.enter="addNewSentMsg()" placeholder="Scrivi messaggio">
                                <div class="vocal-message icon-footer p-right"><i class="fa-solid fa-microphone"></i></div>
                                </div> 
                            </div>
                        </div>
                    </main>
                </div>  
            </div> 
        </div>
    </div>
    


    <script src="./js/app.js"></script>
</body>
</html>

